<%= form_for @vehicle, html: { class: 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :image, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.file_field :image, class: 'select form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :manufacturer_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :manufacturer_id, Manufacturer.all, :id, :name, {}, class: 'select form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :model, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :model, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, class: 'text_area form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :price, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  vehicles_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
